.loader {
    width: 100px;
    height: 100px;
    border: 8px solid #6fb3b3;
    border-radius: 50%;
    border-left-color: #1b5353;
    animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}